html,
body {
  margin: 0px;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Superior';
}

@media (max-width: 639px) {
  html,
  body,
  main {
    background-color: #090909 !important;
  }
}
