html,
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Superior';
}

@media screen and (max-width: 639px) {
  html,
  body,
  main {
    background-color: #090909 !important;
  }
}
